.container_structure {
    display: flex;
    background: rgb(4, 25, 58);


}

.contaienr_login_register {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;

   }

.container_login {
    padding: 1em;
    
}

.text_login {
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    padding: 0.5em;
    padding-left: 0em;
    text-transform: uppercase;

}

.container_form {
    display: flex;
    flex-direction: column;

}

.input_email {
    padding: 0.8em;
    border: 1px solid black;
    outline: none;
    font-size: 1em;
}

.input_password {
    padding: 0.8em;
    border: 1px solid black;
    outline: none;
    font-size: 1em;
}

.input_email:focus {
    background-color: rgb(233, 233, 233);
}

.input_password:focus {
    background-color: rgb(233, 233, 233);
}

.container_external_button_access {
    background-color: red;
    display: flex;
    flex-direction: row;
    
}

.submit_button {
    background-color: white;
    outline: none;
    border: 1px solid black;
    padding: 1em;
    border-top: 0px solid white;
    transition: all 0.5s;
    text-align: left;
    flex: 1;
}


.submit_button:hover {
    background-color: rgb(194, 194, 200);
    color: rgb(31, 31, 31);
    cursor: pointer;
}


.submit_button::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(3, 10, 83);
    margin-left: 0.2em;
    border-radius: 90px;
    color: white;
    text-align: center;
    align-items: center
}


.presentation_card {
    height: 100vh;
    background-color: white;
    flex: 1;
    -webkit-box-shadow: -10px 6px 27px 11px rgba(0, 0, 0, 0.069); 
    box-shadow: -10px 6px 27px 11px rgba(0, 0, 0, 0.092);
    margin-left: 1.5em;
}