
<div class="container_structure">

<div class="contaienr_login_register">

  <div class="container_login">

    <a class="text_login"> Login </a>

    <div class="container_form">
      <input type="email" placeholder="Email" class="input_email">
      <input type="password" placeholder="Password" class="input_password">
      <button type="submit" class="submit_button"> Effettua login</button>
    </div>

    <div class="container_external_button_access">
      <button type="submit" class="submit_button"> Login con github </button>
      <button type="submit" class="submit_button"> Login con Microsoft</button>
    </div>

  </div>


  <div class="container_login">

    <a class="text_login"> Register </a>

    <div class="container_form">
      <input type="email" placeholder="Email" class="input_email">
      <input type="email" placeholder="Ripeti email" class="input_email">
      <input type="password" placeholder="Password" class="input_password">
      <button type="submit" class="submit_button"> Effettua Regitrazione</button>
    </div>

    <div class="container_external_button_access">
      <button type="submit" class="submit_button"> Registrati con github </button>
      <button type="submit" class="submit_button"> Registrato con Microsoft</button>
    </div>
    
  </div>

</div>
<div class="presentation_card">

  <a class="" style="font-size: 3em; ">
    Benvenuti in <br> ProjectName
  </a>
  <a class=""> Renditi partecipe alla community oltre 3000 persone..</a>
  <a class="">
    Iscrivit alla newLetter per tenerti aggironati
  </a>
</div>
</div>






<footer style="position: fixed; margin: 0em; position: absolute; bottom: 0; margin: 0.5em; color: white;">
  <a class="copyright"> Copyright &coprod; (Free distrubate on <a href="" style="color: white; font-weight: bold;">Github</a>) </a>
</footer>