<div class="presentation_card " style="background-color: rgb(232, 232, 232);">
    
    <a class="animated-text" style="font-size: 6em; margin: 0.5em;display: inline-block; letter-spacing: -0.09em; line-height: 0.9em; ">
      Benvenuti <br> ProjectName Esplora <br> ora.
    </a>
  
    <a class="" style="display: block; margin: 3em; font-weight: lighter; "> Renditi partecipe alla community oltre 3000 persone..</a>
    <a class="" style="display: block; margin: 3em;">
      Unisciti a una vibrante community di oltre 3000 persone che condividono la passione per l'esplorazione e la scoperta. [ProjectName] è la piattaforma ideale per immergerti in un mondo di nuove idee, connessioni e opportunità. Qui, puoi partecipare attivamente, contribuire con le tue esperienze e scoprire contenuti esclusivi in tempo reale.  </a>
  </div>
