.faq-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.faq-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-question {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
}

.faq-answer {
    padding: 15px;
    border-top: 1px solid #ccc;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}
