<div class="container_login">

  <a class="text_login">Accedi alla piattaforma</a>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container_form">
      <input type="email" placeholder="Email" formControlName="email" class="input_email">
      <input type="password" placeholder="Password" formControlName="password" class="input_password">
      <button type="submit" class="submit_button">Effettua login</button>
    </div>
  </form>

  <div class="container_external_button_access">
    <button type="button" class="submit_button" (click)="loginWithGitHub()">
      <svg style="width: 20px; margin: 0.5em" class="github-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path fill-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38v-1.36C4.73 14.6 4.14 13.5 4.14 13.5c-.36-.91-.88-1.15-.88-1.15-.72-.49.06-.48.06-.48.79.06 1.2.81 1.2.81.71 1.22 1.87.87 2.33.67.07-.52.28-.87.5-1.07-2.22-.25-4.56-1.11-4.56-4.93 0-1.09.39-1.98 1.03-2.68-.1-.25-.45-1.28.1-2.67 0 0 .84-.27 2.75 1.02A9.56 9.56 0 0 1 8 3.53c.85.004 1.71.11 2.51.32 1.91-1.29 2.75-1.02 2.75-1.02.55 1.39.2 2.42.1 2.67.64.7 1.03 1.59 1.03 2.68 0 3.83-2.34 4.67-4.57 4.92.29.25.54.73.54 1.48v2.2c0 .21.15.46.55.38C13.71 14.53 16 11.54 16 8c0-4.42-3.58-8-8-8z">
        </path>
      </svg>
      Login con GitHub
    </button>

    <button type="button" class="submit_button" (click)="loginWithMicrosoft()">
      <svg style="width: 15px; margin: 0.5em;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <rect width="204" height="204" x="0" y="0" fill="#F25022" />
        <rect width="204" height="204" x="244" y="0" fill="#7FBA00" />
        <rect width="204" height="204" x="0" y="244" fill="#00A4EF" />
        <rect width="204" height="204" x="244" y="244" fill="#FFB900" />
      </svg>
      Login con Microsoft
    </button>
  </div>

</div>